{% extends 'layout/dashboard.html' %}
{% block content %}
        <div class="row" style="width: calc(100% - 95px); margin-top: 70px; margin-left: 30px">
        <div>
            <i class="fa-sharp fa-solid fa-pen-to-square" style="font-size: 30px"></i>
            <span style="font-size: 30px;margin-left: 5px" >Edit Product</span>
        </div>

        <form class="col-12 col-lg-10" style="margin-top: 30px; margin-left: 25px" method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" class="form-control" value="{{ product.name }}" name="name">
            </div>
            <div class="form-group" style="margin-top: 20px">
                <label for="description" class="form-label">Product Description</label>
                 <input  type="text" class="form-control" name="des" value="{{ product.description }}" style="height: 100px">
            </div>
            <div class="form-group" style="margin-top: 20px">
                <label for="price" class="form-label">Product Price</label>
                <input type="number" class="form-control" value="{{ product.price }}" name="price">
            </div>
            <div class="form-group" style="margin-top: 20px">
                <label for="price" class="form-label">Product Image</label><br>
                <img src="{{ product.image.url }}" class="img-fluid" style="width: 300px">
            </div>
            <div class="form-group" style="margin-top: 20px">
                <label for="image" class="form-label">Edit Image</label>
                <input type="file" class="form-control" name="image">
            </div>
            <button class="btn btn-outline-dark" style="margin-top: 30px; " >Edit Product</button>
        </form>
    </div>
{% endblock %}