{% extends 'layout/dashboard.html' %}

{% block content %}
    <style>
    .price{
        color: green;
    }
    </style>
<div class="container" style="margin-top: 70px; margin-left: 30px;width: calc(100% - 95px)">
    <div>
        <i class="fa-solid fa-arrow-trend-up" style="font-size: 35px"></i>
        <span style="font-size: 30px; padding-left: 7px">Orders Reports</span>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #6CC785; border-radius: 5px;padding-top: 25px">
                        <i class="fa-solid fa-arrow-trend-up" style="font-size: 35px"></i>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                        <h4>Today:</h4>
                        <h2>{{ daily_orders }}</h2>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #6CC785; border-radius: 5px;padding-top: 25px">
                        <i class="fa-solid fa-arrow-trend-up" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                            <h4>Last Week:</h4>
                            <h2>{{ last_week_orders }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #6CC785; border-radius: 5px;padding-top: 25px">
                            <i class="fa-solid fa-arrow-trend-up" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                            <h4>Last Months:</h4>
                            <h2>{{ last_month_orders}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #6CC785; border-radius: 5px;padding-top: 25px">
                            <i class="fa-solid fa-arrow-trend-up" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                            <h4>Last 3 Months:</h4>
                            <h2>{{ last_3months_orders }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 40px">
        <i class="fa-solid fa-money-bill-trend-up" style="font-size: 35px"></i>
        <span style="font-size: 30px; padding-left: 7px">Revenue Reports</span>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #86b7fe; border-radius: 5px;padding-top: 25px">
                            <i class="fa-solid fa-money-bill-trend-up" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8" style="height: 100px">
                            <h4>Today:</h4>
                            <h4 class="price">{{ daily_revenue.revenue }} JDs</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #86b7fe; border-radius: 5px;padding-top: 25px">
                            <i class="fa-solid fa-money-bill-trend-up" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8" style="height: 100px">
                            <h4>Last Week:</h4>
                            <h4 class="price">{{ last_week_revenue.revenue }} JDs</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #86b7fe; border-radius: 5px;padding-top: 25px">
                            <i class="fa-solid fa-money-bill-trend-up" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8" style="height: 100px">
                            <h4>Last Months:</h4>
                            <h4 class="price">{{ last_month_revenue.revenue}} JDs</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4" >
                <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: #86b7fe; border-radius: 5px;padding-top: 25px">
                            <i class="fa-solid fa-money-bill-trend-up" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8" style="height: 100px">
                            <h4>Last 3 Months:</h4>
                            <h4 class="price">{{ last_3months_revenue.revenue }} JDs</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 30px;">
        <i class="fa-solid fa-box" style="font-size: 35px"></i>
        <span style="font-size: 30px; padding-left: 7px;margin-bottom: 10px">Items Reports</span>
    </div>
    <div class="row">
        <div style="box-shadow: 0px 0px 13px 1px #f1f1f1; border-radius: 10px" >
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4" style="background-color: coral; border-radius: 5px;padding-top: 25px;text-align: center">
                            <i class="fa-solid fa-box" style="font-size: 35px"></i>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8" style="height: 100px">
                            <h4 style="padding-bottom: 10px;padding-top: 5px">Items Sold:</h4>
                            <h4 class="price">{{ items_sold.number}} Items</h4>
                        </div>
                    </div>
                </div>

    </div>

</div>

{% endblock %}